[*.cs]

# IDE0210: Convert to top-level statements
csharp_style_prefer_top_level_statements = false

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = none

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = none
